{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
            <h1>History Of Shares</h1>
            <br>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Type</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td>{{ row["symbol"].upper() }}</td>
                    <td>{{ row["type"] }}</td>
                    <td>{{ row["shares"] }}</td>
                    <td>{{ usd(row["price"]) }}</td>
                    <td>{{ row["time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}