{% extends "layout.html" %}

{% block title %}
    Time Registration Problem
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
            <tbody>
                <h1>Time Registration</h1>
                <br>
                <tr>
                    <th scope="col">Current Date</th>
                    <th scope="col">Date</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Total Hours</th>
                </tr>
            </thead>
        </tbody>
{% endblock %}